In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("/Users/ratneshchauhan/Downloads/addresses.csv")
print(df)

                    John       Doe                 120 jefferson st.  \
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

     Riverside   NJ   8075
0        Phila   PA   9119
1    Riverside   NJ   8075
2     SomeTown   SD  91234
3     SomeTown   SD    298
4  Desert City   CO    123

In [10]:
print(df)

                    John       Doe                 120 jefferson st.  \
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

     Riverside   NJ   8075
0        Phila   PA   9119
1    Riverside   NJ   8075
2     SomeTown   SD  91234
3     SomeTown   SD    298
4  Desert City   CO    123