In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("/Users/ratneshchauhan/Downloads/addresses.csv")
print(data)

                    John       Doe                 120 jefferson st.  \
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

     Riverside   NJ   8075
0        Phila   PA   9119
1    Riverside   NJ   8075
2     SomeTown   SD  91234
3     SomeTown   SD    298
4  Desert City   CO    123

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   John               4 non-null      object
 1   Doe                5 non-null      object
 2   120 jefferson st.  4 non-null      object
 3   Riverside          5 non-null      object
 4    NJ                5 non-null      object
 5   8075               5 non-null      int64
dtypes: int64(1), object(5)
memory usage: 372.0+ bytes
None

In [5]:
data.describe()

               8075
count      5.000000
mean   21769.800000
std    39059.209909
min      123.000000
25%      298.000000
50%     8075.000000
75%     9119.000000
max    91234.000000

In [8]:
print(data.isnull().sum())

John                 1
Doe                  0
120 jefferson st.    1
Riverside            0
 NJ                  0
8075                 0
dtype: int64