# HANDLING MISSING DATA

In [1]:
# NaN (Not a number )
# None (for object data types)
# isnull()

# True = NaN is missing
#False = Value is present

In [3]:
import pandas as pd
data = {
    "Name":["Ram",None,"Shayam","Amit","Roshan","Ramesh","Sachin"],
    "Age":[23,None,22,24,34,25,30],
    "Salary":[1000,None,2000,3000,4000,5000,6000],
    "Performance":[88,None,78,56,45,76,89]
}
df = pd.DataFrame(data)
print(df)

     Name   Age  Salary  Performance
0     Ram  23.0  1000.0         88.0
1    None   NaN     NaN          NaN
2  Shayam  22.0  2000.0         78.0
3    Amit  24.0  3000.0         56.0
4  Roshan  34.0  4000.0         45.0
5  Ramesh  25.0  5000.0         76.0
6  Sachin  30.0  6000.0         89.0

In [4]:
print(df.isnull())

    Name    Age  Salary  Performance
0  False  False   False        False
1   True   True    True         True
2  False  False   False        False
3  False  False   False        False
4  False  False   False        False
5  False  False   False        False
6  False  False   False        False

In [5]:
print(df.isnull().sum())

Name           1
Age            1
Salary         1
Performance    1
dtype: int64

# Dropna

In [6]:
df.dropna(inplace=True)
print(df)

     Name   Age  Salary  Performance
0     Ram  23.0  1000.0         88.0
2  Shayam  22.0  2000.0         78.0
3    Amit  24.0  3000.0         56.0
4  Roshan  34.0  4000.0         45.0
5  Ramesh  25.0  5000.0         76.0
6  Sachin  30.0  6000.0         89.0

# fillna

In [7]:
import pandas as pd
data = {
    "Name":["Ram",None,"Shayam","Amit","Roshan","Ramesh","Sachin"],
    "Age":[23,None,22,24,34,25,30],
    "Salary":[1000,None,2000,3000,4000,5000,6000],
    "Performance":[88,None,78,56,45,76,89]
}
df = pd.DataFrame(data)
print(df)

     Name   Age  Salary  Performance
0     Ram  23.0  1000.0         88.0
1    None   NaN     NaN          NaN
2  Shayam  22.0  2000.0         78.0
3    Amit  24.0  3000.0         56.0
4  Roshan  34.0  4000.0         45.0
5  Ramesh  25.0  5000.0         76.0
6  Sachin  30.0  6000.0         89.0

In [8]:
df.fillna(0,inplace=True)
print(df)

     Name   Age  Salary  Performance
0     Ram  23.0  1000.0         88.0
1       0   0.0     0.0          0.0
2  Shayam  22.0  2000.0         78.0
3    Amit  24.0  3000.0         56.0
4  Roshan  34.0  4000.0         45.0
5  Ramesh  25.0  5000.0         76.0
6  Sachin  30.0  6000.0         89.0

In [10]:
df["Age"].fillna(df["Age"].mean(),inplace=True)

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_12999/480454943.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)