In [1]:
import pandas as pd

In [7]:
data = pd.read_csv("/Users/ratneshchauhan/Downloads/company_employee_details.csv")

In [8]:
print(data)

      Unnamed: 0   company     department  employee_id  age  age_when_joined  \
0              0   Glasses        BigData           16   41               38
1              1   Glasses             AI           56   44               42
2              2  Cheerper        Support           59   41               40
3              3   Glasses         Design           40   39               32
4              4   Glasses  Search Engine           47   30               22
...          ...       ...            ...          ...  ...              ...
4995        4995  Cheerper  Search Engine           37   42               35
4996        4996   Glasses             AI            1   36               25
4997        4997   Glasses  Search Engine           20   35               30
4998        4998      Pear          Sales            9   49               48
4999        4999   Glasses             AI           36   43               38

      years_in_the_company         salary  annual_bonus  \
0                        3   68074.971354  17664.104103
1                        2   49092.147458  21551.141079
2                        1   40000.000000  23698.878851
3                        7  108192.465506  21570.929657
4                        9   71291.191132  21565.505715
...                    ...            ...           ...
4995                     7   76541.841502  17366.896122
4996                     9  113651.485089  20888.144794
4997                     5   77560.047560  24792.910000
4998                     1  153000.000000  11700.850325
4999                     5   91443.504951  13529.040663

      prior_years_experience  full_time  part_time  contractor
0                          3   0.000000   0.000000    1.000000
1                          2   0.000000   0.184991    1.000000
2                          2   0.000000   0.919887    0.662706
3                          1   0.930396   0.546206    0.000000
4                          2   0.525432   0.938412    0.000000
...                      ...        ...        ...         ...
4995                       2   0.269842   0.691977    0.038156
4996                       1   0.356024   0.098686    0.545462
4997                       2   0.179350   0.361727    0.459085
4998                       4   1.000000   0.000000    0.585987
4999                       4   0.755094   0.000000    0.462368

[5000 rows x 13 columns]

In [9]:
print(data.isnull())

      Unnamed: 0  company  department  employee_id    age  age_when_joined  \
0          False    False       False        False  False            False
1          False    False       False        False  False            False
2          False    False       False        False  False            False
3          False    False       False        False  False            False
4          False    False       False        False  False            False
...          ...      ...         ...          ...    ...              ...
4995       False    False       False        False  False            False
4996       False    False       False        False  False            False
4997       False    False       False        False  False            False
4998       False    False       False        False  False            False
4999       False    False       False        False  False            False

      years_in_the_company  salary  annual_bonus  prior_years_experience  \
0                    False   False         False                   False
1                    False   False         False                   False
2                    False   False         False                   False
3                    False   False         False                   False
4                    False   False         False                   False
...                    ...     ...           ...                     ...
4995                 False   False         False                   False
4996                 False   False         False                   False
4997                 False   False         False                   False
4998                 False   False         False                   False
4999                 False   False         False                   False

      full_time  part_time  contractor
0         False      False       False
1         False      False       False
2         False      False       False
3         False      False       False
4         False      False       False
...         ...        ...         ...
4995      False      False       False
4996      False      False       False
4997      False      False       False
4998      False      False       False
4999      False      False       False

[5000 rows x 13 columns]

In [10]:
print(data.isnull().sum())

Unnamed: 0                0
company                   0
department                0
employee_id               0
age                       0
age_when_joined           0
years_in_the_company      0
salary                    0
annual_bonus              0
prior_years_experience    0
full_time                 0
part_time                 0
contractor                0
dtype: int64

In [11]:
print(data.dropna())

      Unnamed: 0   company     department  employee_id  age  age_when_joined  \
0              0   Glasses        BigData           16   41               38
1              1   Glasses             AI           56   44               42
2              2  Cheerper        Support           59   41               40
3              3   Glasses         Design           40   39               32
4              4   Glasses  Search Engine           47   30               22
...          ...       ...            ...          ...  ...              ...
4995        4995  Cheerper  Search Engine           37   42               35
4996        4996   Glasses             AI            1   36               25
4997        4997   Glasses  Search Engine           20   35               30
4998        4998      Pear          Sales            9   49               48
4999        4999   Glasses             AI           36   43               38

      years_in_the_company         salary  annual_bonus  \
0                        3   68074.971354  17664.104103
1                        2   49092.147458  21551.141079
2                        1   40000.000000  23698.878851
3                        7  108192.465506  21570.929657
4                        9   71291.191132  21565.505715
...                    ...            ...           ...
4995                     7   76541.841502  17366.896122
4996                     9  113651.485089  20888.144794
4997                     5   77560.047560  24792.910000
4998                     1  153000.000000  11700.850325
4999                     5   91443.504951  13529.040663

      prior_years_experience  full_time  part_time  contractor
0                          3   0.000000   0.000000    1.000000
1                          2   0.000000   0.184991    1.000000
2                          2   0.000000   0.919887    0.662706
3                          1   0.930396   0.546206    0.000000
4                          2   0.525432   0.938412    0.000000
...                      ...        ...        ...         ...
4995                       2   0.269842   0.691977    0.038156
4996                       1   0.356024   0.098686    0.545462
4997                       2   0.179350   0.361727    0.459085
4998                       4   1.000000   0.000000    0.585987
4999                       4   0.755094   0.000000    0.462368

[5000 rows x 13 columns]

In [12]:
print(data)

      Unnamed: 0   company     department  employee_id  age  age_when_joined  \
0              0   Glasses        BigData           16   41               38
1              1   Glasses             AI           56   44               42
2              2  Cheerper        Support           59   41               40
3              3   Glasses         Design           40   39               32
4              4   Glasses  Search Engine           47   30               22
...          ...       ...            ...          ...  ...              ...
4995        4995  Cheerper  Search Engine           37   42               35
4996        4996   Glasses             AI            1   36               25
4997        4997   Glasses  Search Engine           20   35               30
4998        4998      Pear          Sales            9   49               48
4999        4999   Glasses             AI           36   43               38

      years_in_the_company         salary  annual_bonus  \
0                        3   68074.971354  17664.104103
1                        2   49092.147458  21551.141079
2                        1   40000.000000  23698.878851
3                        7  108192.465506  21570.929657
4                        9   71291.191132  21565.505715
...                    ...            ...           ...
4995                     7   76541.841502  17366.896122
4996                     9  113651.485089  20888.144794
4997                     5   77560.047560  24792.910000
4998                     1  153000.000000  11700.850325
4999                     5   91443.504951  13529.040663

      prior_years_experience  full_time  part_time  contractor
0                          3   0.000000   0.000000    1.000000
1                          2   0.000000   0.184991    1.000000
2                          2   0.000000   0.919887    0.662706
3                          1   0.930396   0.546206    0.000000
4                          2   0.525432   0.938412    0.000000
...                      ...        ...        ...         ...
4995                       2   0.269842   0.691977    0.038156
4996                       1   0.356024   0.098686    0.545462
4997                       2   0.179350   0.361727    0.459085
4998                       4   1.000000   0.000000    0.585987
4999                       4   0.755094   0.000000    0.462368

[5000 rows x 13 columns]

In [13]:
import numpy as np
print(data.replace(np.nan,"hai"))

      Unnamed: 0   company     department  employee_id  age  age_when_joined  \
0              0   Glasses        BigData           16   41               38
1              1   Glasses             AI           56   44               42
2              2  Cheerper        Support           59   41               40
3              3   Glasses         Design           40   39               32
4              4   Glasses  Search Engine           47   30               22
...          ...       ...            ...          ...  ...              ...
4995        4995  Cheerper  Search Engine           37   42               35
4996        4996   Glasses             AI            1   36               25
4997        4997   Glasses  Search Engine           20   35               30
4998        4998      Pear          Sales            9   49               48
4999        4999   Glasses             AI           36   43               38

      years_in_the_company         salary  annual_bonus  \
0                        3   68074.971354  17664.104103
1                        2   49092.147458  21551.141079
2                        1   40000.000000  23698.878851
3                        7  108192.465506  21570.929657
4                        9   71291.191132  21565.505715
...                    ...            ...           ...
4995                     7   76541.841502  17366.896122
4996                     9  113651.485089  20888.144794
4997                     5   77560.047560  24792.910000
4998                     1  153000.000000  11700.850325
4999                     5   91443.504951  13529.040663

      prior_years_experience  full_time  part_time  contractor
0                          3   0.000000   0.000000    1.000000
1                          2   0.000000   0.184991    1.000000
2                          2   0.000000   0.919887    0.662706
3                          1   0.930396   0.546206    0.000000
4                          2   0.525432   0.938412    0.000000
...                      ...        ...        ...         ...
4995                       2   0.269842   0.691977    0.038156
4996                       1   0.356024   0.098686    0.545462
4997                       2   0.179350   0.361727    0.459085
4998                       4   1.000000   0.000000    0.585987
4999                       4   0.755094   0.000000    0.462368

[5000 rows x 13 columns]

In [14]:
print(data.fillna(method = "bfill"))

      Unnamed: 0   company     department  employee_id  age  age_when_joined  \
0              0   Glasses        BigData           16   41               38
1              1   Glasses             AI           56   44               42
2              2  Cheerper        Support           59   41               40
3              3   Glasses         Design           40   39               32
4              4   Glasses  Search Engine           47   30               22
...          ...       ...            ...          ...  ...              ...
4995        4995  Cheerper  Search Engine           37   42               35
4996        4996   Glasses             AI            1   36               25
4997        4997   Glasses  Search Engine           20   35               30
4998        4998      Pear          Sales            9   49               48
4999        4999   Glasses             AI           36   43               38

      years_in_the_company         salary  annual_bonus  \
0                        3   68074.971354  17664.104103
1                        2   49092.147458  21551.141079
2                        1   40000.000000  23698.878851
3                        7  108192.465506  21570.929657
4                        9   71291.191132  21565.505715
...                    ...            ...           ...
4995                     7   76541.841502  17366.896122
4996                     9  113651.485089  20888.144794
4997                     5   77560.047560  24792.910000
4998                     1  153000.000000  11700.850325
4999                     5   91443.504951  13529.040663

      prior_years_experience  full_time  part_time  contractor
0                          3   0.000000   0.000000    1.000000
1                          2   0.000000   0.184991    1.000000
2                          2   0.000000   0.919887    0.662706
3                          1   0.930396   0.546206    0.000000
4                          2   0.525432   0.938412    0.000000
...                      ...        ...        ...         ...
4995                       2   0.269842   0.691977    0.038156
4996                       1   0.356024   0.098686    0.545462
4997                       2   0.179350   0.361727    0.459085
4998                       4   1.000000   0.000000    0.585987
4999                       4   0.755094   0.000000    0.462368

[5000 rows x 13 columns]

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_2973/2754045057.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "bfill"))