PANDAS PRACTICAL

Pandas is Python packet providing fast flexible and expressive data structure designed to make with 
"relational" or "labeled" data data both easy and intuitive.
here are just a few of the things that pandas does well:
The names"Pandas" has a reference to both "Panel Data" ans Pythons data Analysis
 and was create by Wes Mckinney in 2008

It has function for analyzing,cleaning ,exploring and manipulating data.

APPLICATION
1) Automatically align the data for you in computations.
2) Powerful ,flexible group by functionality.
3)Intelligent label-based ,fancy indexing ,and subsetting of large data sets.
4)Intuitive merging and joining data sets.
5)flexible reshaping and pivoting of data sets.

DATA STRUCTURES IN

The best way to thik about the pandas data structures is as flexible containers
for lower dimensional data .For example ,DataFrame is a container for Series and Series is a 
containers for scalars.

Series in Pandas:- n Pandas, a Series is a one-dimensional array-like object 
that can hold various types of data — integers, floats, strings, Python 
objects, and more. It’s similar to a column in an Excel 
spreadsheet or a single column in a DataFrame.

DATAFRAME:-In Pandas, a DataFrame is a two-dimensional, table-like structure 
with labeled axes (rows and columns). It’s the most commonly used data
structure for handling tabular data, similar to an Excel 
sheet or SQL table. Let’s dive into the details:

In [1]:
import pandas as pd

In [2]:
data = {"Name":["John","Peter","Lisa"],
        "Age":[25,28,31],
        "Salary":[300000,450000,25000]}
df = pd.DataFrame(data)
print(df)

    Name  Age  Salary
0   John   25  300000
1  Peter   28  450000
2   Lisa   31   25000

In [3]:
data = pd.read_csv("/Users/ratneshchauhan/Downloads/customers-100.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [5]:
df.columns

Index(['Name', 'Age', 'Salary'], dtype='object')