# sorting data

# SORTING SATA 1 COLUMNS sort_values()

#df.sort_values(by="Column Nmae",true/False,inplace = True)

In [1]:
import pandas as pd

In [3]:
data ={
    "Name":["Arun","Varun","Karun"],
    "Age":[28,34,22],
    "Salary":[1000,2000,3000]
}
df= pd.DataFrame(data)
print(df)

    Name  Age  Salary
0   Arun   28    1000
1  Varun   34    2000
2  Karun   22    3000

In [4]:
df.sort_values(by="Age",ascending=True,inplace=True)
print("sort Age by descending")
print(df)

sort Age by descending
    Name  Age  Salary
2  Karun   22    3000
0   Arun   28    1000
1  Varun   34    2000

# More than one columns

In [8]:
df.sort_values(by=["Age","Salary"],ascending=[True,False],inplace=True)
print("sort Age by descending")
print(df)

sort Age by descending
    Name  Age  Salary
2  Karun   22    3000
0   Arun   28    1000
1  Varun   34    2000

#Summary Statistics

"""df["Column Nmae"].mean()////
   df["Column Nmae"].sum()////
   df["Column Nmae"].min()///
   df["Column Nmae"].max()"""